
<div class="absolute width height black-back">

	<div class="absolute width height cutoff" id="body" body>

		<div class="absolute left0 top0 nuplaeSize">

			<div ng-repeat="page in main.pages">
				<div class="absolute width25 height25 cutoff" ng-attr-id="{{'page' + page.id}}" ng-style="{top:'' + page.page.rect.top, left:'' + page.page.rect.left }" ng-attr-dir="pages" repeat>


					<div class="absolute width height center deselect" id="{{'page-back-' + page.id}}">
						
						<div class="absolute width height {{page.page.fore}} {{page.title.class}} cutoff" id="{{'page-fore-' + page.id}}">

							<div class="absolute pageBorder {{page.page.outline}}" id="{{'arena' + page.id}}">

								<div id="{{'pagetitle' + page.id}}" class="absolute height20 width80 hcenter font-60">
									<div class="absolute center text-center">{{page.title.text}}</div>
								</div>
								<div class="absolute fill lowered-dark" rotation>
									<page></page>
								</div>

							</div>

						</div>

					</div>

				</div>	
			</div>
		</div>
	</div>
</div>
