<div class="absolute width height">

	<div class="absolute width height-100 hcenter top40">
		<div class="absolute text-center center font-40 blue" id="{{'stats' + page.id}}"></div>
	</div>

	<div class="absolute width90 height-100 bottom-20">

		<div class="absolute height width-200">
			<div class="absolute center font-70" id="{{'time' + page.id}}"></div>
		</div>

		<div class="absolute width-500 height hcenter">
			<div class="absolute center font-70" id="{{'points' + page.id}}"></div>
		</div>

	</div>

</div> 