<div class="absolute width80 hcenter height">

    <div class="relative width height-200">
        <div class="absolute width50 height left0">
            <div class="absolute width vcenter text-right">{{percent}}</div>
        </div>
        <div class="absolute width50 height right0">
            <div class="absolute width vcenter">%</div>
        </div>
    </div>

    <div class="relative width height-800">

        <div class="absolute height hcenter padding-bottom-100">

            <div id="slide" class="absolute width-40 height rounded20 lowered-dark white-back hcenter"></div>

            <div id="slider-thumb" class="relative width-150 height-150 rounded75 hcenter blue-back pointer"></div>

        </div>
    </div>

</div>