
<div class="absolute width80 center">

	<div class="relative">

		<div class="relative rounded20 red-back margin-v-20 white">
			<div class="relative padding-v-20 text-center font-50">
				bad news :(
			</div>

			<div class="relative padding-v-20 text-center font-30">
				this device is not supported
			</div>
		</div>
	</div>

	<div class="relative">

		<div class="relative padding-v-50 rounded20 gray-back white text-center font-20">
			this game requires an accelerometer <br>
			this device does not appear to have one <br><br>
			try on a mobile device
		</div>

	</div>

</div>