

<div class="absolute width80 center">

	<div class="relative">

		<div class="relative rounded20 green3-back margin-v-20 white">
			<div class="relative padding-v-20 text-center font-50">
				good news :)
			</div>

			<div class="relative padding-v-20 text-center font-30">
				this device is supported
			</div>
		</div>

	</div>

	<div class="relative">

		<div class="relative rounded20 gray-back white">
			<div class="relative width80 hcenter text-center padding-v-50 font-30">please wait while the application loads...</div>
		</div>
	</div>
</div>