html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/*
.box {
  background: tan;
  border-radius: .8em;
  box-shadow: 0 0 0 .6em #655;
  display: inline-block;
  height: 400px;
  outline: .65em solid #655;
  padding: 20px;
  width: 800px;
}*/
.pageBorder {
  position: absolute;
  /*border-radius:$pageOutline;*/
  padding: 30px;
  margin: 20px;
  width: calc(100vw - 40px); }

.pageHeight-chrome {
  height: calc(90vh - 40px); }

.pageHeight {
  height: calc(100vh - 40px); }

.black-corner {
  box-shadow: 0 0 0 10px black; }

.color-2-1-corner {
  box-shadow: 0 0 0 10px #510000; }

.color-2-2-corner {
  box-shadow: 0 0 0 10px #002c55; }

.color-2-3-corner {
  box-shadow: 0 0 0 10px #135100; }

.color-2-4-corner {
  box-shadow: 0 0 0 10px #510026; }

.color-2-5-corner {
  box-shadow: 0 0 0 10px #004f5d; }

.color-1-6-corner {
  box-shadow: 0 0 0 10px #a0a15f; }

.black-outline {
  outline: 20px solid black; }

.color-2-1-outline {
  outline: 20px solid #510000; }

.color-2-2-outline {
  outline: 20px solid #002c55; }

.color-2-3-outline {
  outline: 20px solid #135100; }

.color-2-4-outline {
  outline: 20px solid #510026; }

.color-2-5-outline {
  outline: 20px solid #004f5d; }

.color-1-6-outline {
  outline: 20px solid #a0a15f; }

.black-background {
  background: black; }

.color-2-1-background {
  background: #510000; }

.color-2-2-background {
  background: #002c55; }

.color-2-3-background {
  background: #135100; }

.color-2-4-background {
  background: #510026; }

.color-2-5-background {
  background: #004f5d; }

.color-1-6-background {
  background: #a0a15f; }

.nuplaeSize {
  width: 400%;
  height: 400%; }

.Modal-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 50;
  opacity: 0.5; }

.Modal-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 60;
  padding: 30px 15px; }

.Modal-box {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 992px) {
  .Modal-box {
    width: 50%;
    padding: 30px; } }

.enemyInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black; }

md-toast {
  position: absolute;
  width: 100%;
  height: 100px;
  font-size: 70px; }

.ui-slider-vertical {
  height: 100%;
  width: 100%; }

.ui-slider .ui-slider-handle {
  height: 100px;
  width: 130%;
  margin-top: -50px;
  margin-left: -7.5%; }
