.switch {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 200px;
  cursor: pointer; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  -ms-transition: .2s;
  transition: .2s; }

.slider:before {
  position: absolute;
  content: "";
  height: 192px;
  width: 192px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  -ms-transition: .2s;
  transition: .2s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px); }

/* Rounded sliders */
.slider.round {
  border-radius: 192px; }

.slider.round:before {
  border-radius: 50%; }
