
html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

/*
.box {
  background: tan;
  border-radius: .8em;
  box-shadow: 0 0 0 .6em #655;
  display: inline-block;
  height: 400px;
  outline: .65em solid #655;
  padding: 20px;
  width: 800px;
}*/

$pageMargin: 20px;
$pagePadding: 30px;
$pageOutline: 20px;

$pageBuffer: $pageMargin + $pagePadding - 10;


.pageBorder {
  position:absolute;
  /*border-radius:$pageOutline;*/
  
  padding: $pagePadding;
  margin: $pageMargin;
  width: calc(100vw - #{$pageBuffer});
}


.pageHeight-chrome {


  height: calc(100vh - #{$pageBuffer});
}

.pageHeight {

  height: calc(100vh - #{$pageBuffer});
}

$colorBlack: black;
$color21: #510000;
$color22: #002c55;
$color23: #135100;
$color24: #510026;
$color25: #004f5d;
$color16: #a0a15f;

.black-corner {

  box-shadow: 0 0 0 10px $colorBlack;
}


.color-2-1-corner {

  box-shadow: 0 0 0 10px $color21;
}

.color-2-2-corner {

  box-shadow: 0 0 0 10px $color22;
}

.color-2-3-corner {

  box-shadow: 0 0 0 10px $color23;
}

.color-2-4-corner {

  box-shadow: 0 0 0 10px $color24;
}

.color-2-5-corner {

  box-shadow: 0 0 0 10px $color25;
}


.color-1-6-corner {

  box-shadow: 0 0 0 10px $color16;
}


.black-outline {
	outline: $pageOutline solid $colorBlack;
}

.color-2-1-outline {
	outline: $pageOutline solid $color21;
}


.color-2-2-outline {
	outline: $pageOutline solid $color22;
}


.color-2-3-outline {
	outline: $pageOutline solid $color23;
}

.color-2-4-outline {
	outline: $pageOutline solid $color24;
}


.color-2-5-outline {
	outline: $pageOutline solid $color25;
}


.color-1-6-outline {
	outline: $pageOutline solid $color16;
}



.black-background {
	background: $colorBlack;
}

.color-2-1-background {
	background: $color21;
}


.color-2-2-background {
	background: $color22;
}


.color-2-3-background {
	background: $color23;
}

.color-2-4-background {
	background: $color24;
}


.color-2-5-background {
	background: $color25;
}


.color-1-6-background {
	background: $color16;
}

.nuplaeSize {

	width:400%;
	height:400%;
}

.Modal-backdrop
{
	position: absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #000;
	z-index: 50;
	opacity: 0.5;
}

.Modal-holder
{
	position: absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: transparent;
	z-index: 60;
	padding: 30px 15px;
}

.Modal-box
{
	position: absolute;
	margin: 0 auto;
	width: 100%;
	background: #fff;
	padding: 15px;
	border-radius: 4px;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
	
}

@media screen and (min-width: 992px)
{
	.Modal-box
	{
		width: 50%;
		padding: 30px;
	}
}

.enemyInner {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:1px solid black;	
}

md-toast {
	position:absolute;
	width:100%;
	height:100px;
	font-size:70px;
}

.ui-slider-vertical {
    height:100%;
    width:100%;
}

.ui-slider .ui-slider-handle {
	height:100px;
    width:130%;
    margin-top:-50px;
    margin-left:-7.5%;
    
}

