
html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

/*
.box {
  background: tan;
  border-radius: .8em;
  box-shadow: 0 0 0 .6em #655;
  display: inline-block;
  height: 400px;
  outline: .65em solid #655;
  padding: 20px;
  width: 800px;
}*/

$pageMargin: 20px;
$pagePadding: 30px;
$pageOutline: 20px;

$pageBuffer: $pageMargin + $pagePadding - 10;


.pageBorder {
  position:absolute;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 0 10px black;
  height: calc(100vh - #{$pageBuffer});
  outline: $pageOutline solid black;
  padding: $pagePadding;
  margin: $pageMargin;
  width: calc(100vw - #{$pageBuffer});
}

.nuplaeSize {

	width:400%;
	height:400%;
}

.Modal-backdrop
{
	position: absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #000;
	z-index: 50;
	opacity: 0.5;
}

.Modal-holder
{
	position: absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: transparent;
	z-index: 60;
	padding: 30px 15px;
}

.Modal-box
{
	position: absolute;
	margin: 0 auto;
	width: 100%;
	background: #fff;
	padding: 15px;
	border-radius: 4px;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
	
}

@media screen and (min-width: 992px)
{
	.Modal-box
	{
		width: 50%;
		padding: 30px;
	}
}

.enemyInner {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:1px solid black;	
}

md-toast {
	position:absolute;
	width:100%;
	height:100px;
	font-size:70px;
}

.ui-slider-vertical {
    height:100%;
    width:100%;
}

.ui-slider .ui-slider-handle {
	height:100px;
    width:130%;
    margin-top:-50px;
    margin-left:-7.5%;
    
}

