<div class="absolute width height">


    <div class="absolute width-100 height-100 z-100 white-back rounded50 border right-50 bottom30 pointer" on-tap="toggleinfo()">
        <div class="absolute center font-50">
            <i class="fa fa-info"></i>
        </div>
    </div>

	<div class="absolute fill z-100" ng-class="{hidden:hidemessage}" on-tap="togglemessage('hide')">
		
		<div class="absolute fill black-back opacity70"></div>
		<div class="absolute width-500 height-500 rounded50 white-back center pointer" id="{{'preview' + page.id}}">
			<div class="absolute width90 height90 center border white-back rounded40">
				<div class="absolute width80 height80 center font-30">
					move your device in a flat sliding motion to move the object on the screen<br>this demo does not respond to tilting<br><br>tap here to dismiss<br><br>this guide can be opened any time
				</div>
			</div>
		</div>
		
	</div>

</div>