
<div class="absolute width height black-back">

	<div class="absolute width height scroll" id="body" body>

		<div class="absolute left0 top0 nuplaeSize">

			<div ng-repeat="page in main.pages">
				<div class="absolute width25 height25 cutoff" ng-attr-id="{{'page' + page.id}}" ng-style="{top:'' + page.page.rect.top, left:'' + page.page.rect.left }" ng-attr-dir="pages" repeat>
					<div class="absolute width height center {{page.page.back}} border-white">
						<div class="absolute inset-mobile-2 center lowered-dark {{page.page.fore}} cutoff">
								
							<div class="absolute fill" id="{{'arena' + page.id}}" rotation>

								<div id="{{'pagetitle' + page.id}}" class="absolute height10 width text-center font-60">
									<div class="absolute center">{{page.title}}</div>
								</div>
								<page></page>

							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
