
<div class="absolute fill" id="settings-content" ng-controller="settings.controller">


	<div class="absolute fill rounded20 cutoff">

		<div class="absolute width height scrollY scroll-vertical-dark-narrow">
			<div class="absolute width80 height30 center">
				<div class="relative inline width50 height-400" ng-repeat="setting in settings.items" on-tap="openSetting(setting.id)">

					<div class="absolute width-300 height-300 center white-back border rounded50 pointer shadow">
						<div class="absolute width80 center font-40 text-center">
							{{setting.title}}
						</div>
					</div>

				</div>
			</div>
		</div>

		<back></back>

		<div class="absolute width height" ng-if="visible()">
			<setting-host></setting-host>
		</div>

	</div>

</div>