

<div class="absolute fill font-50 white" id="setting-sessionfactor">

    <div class="absolute width80 height80 center">

        <div class="absolute width height-100">

            <div class="relative width height50">
                <div class="absolute text-center center">sensitivity</div>
            </div>

            <div class="relative width height50">
                <div class="absolute width50 height left0">
                    <div class="absolute width vcenter text-right" id="amount"></div>
                </div>
                <div class="absolute width50 height right0">
                    <div class="absolute width vcenter">%</div>
                </div>
            </div>

        </div>

        <div class="relative width height90">
            <div class="absolute width-200 height80 center">
                <div class="absolute hcenter" id="slider-vertical"></div>
            </div>
        </div>

    </div>

</div>