

<div class="absolute fill font-50 white" id="setting-axes" ng-controller="settings.axes.controller">

    <div class="absolute width80 height80 center">

        <div class="relative width height10 font-50">

            <div class="absolute center">{{settings.title}}</div>

        </div>

        <div class="relative width80 height80 center">

            <div class="relative width margin-bottom-100">

                <div class="flex flex-row flex-align-center">

                    <div class="width20">
                        <div class="relative center">
                            <i class="fas fa-arrows-alt-h font-100"></i>
                        </div>
                    </div>

                    <div class="width30">
                        <label class="switch" on-tap="changeDir('i')">
                            <input id="switch.x" ng-model="axesDir.x" ng-change="setDirection('i')" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="width50">

                        <div class="relative center font-50 text-right">
                            {{switched.x}}
                        </div>

                    </div>

                </div>


            </div>

            <div class="relative width">

                <div class="flex flex-row flex-align-center">

                    <div class="width20">
                        <div class="relative center">
                            <i class="fas fa-arrows-alt-v font-100"></i>
                        </div>
                    </div>

                   

                    <div class="width30">
                        <label class="switch" on-tap="changeDir('j')">
                            <input id="switch.y" ng-model="axesDir.y" ng-change="setDirection('j')" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="width50">

                        <div class="relative center font-50 text-right">
                            {{switched.y}}
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>

</div>