

<div class="absolute fill font-50 white" id="setting-axes" ng-controller="settings.axes.controller">

    <div class="absolute width80 height80 center">

        <div class="relative width height10 font-50">

            <div class="absolute center">{{settings.title}}</div>

        </div>

        <div class="relative width height80 center">

            <div class="relative width margin-top-100 margin-bottom-200">

                <div class="flex flex-row flex-align-center flex-justify-center">

                    <div class="width20 text-center">
                        <i class="fas fa-arrows-alt-h font-100"></i>
                    </div>

                    <div class="width40">
                        <label class="switch hcenter">
                            <input id="switch.x" ng-model="axesDir.x" ng-change="setDirection('i')" type="checkbox">
                            <span class="slider round" on-tap="changeDir('i')"></span>
                        </label>
                    </div>

                    <div class="width30 text-right font-50">
                        {{switched.x}}
                    </div>

                </div>


            </div>

            <div class="relative width">

                <div class="flex flex-row flex-align-center flex-justify-center">

                    <div class="width20 text-center">
                        <i class="fas fa-arrows-alt-v font-100"></i>
                    </div>

                   

                    <div class="width40">
                        <label class="switch hcenter" on-tap="changeDir('j')">
                            <input id="switch.y" ng-model="axesDir.y" ng-change="setDirection('j')" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="width30 text-right font-50">
                        {{switched.y}}
                    </div>

                </div>


            </div>

        </div>

    </div>

</div>