

<div class="absolute fill font-50 white" id="setting-axes" ng-controller="settings.axes.controller">

    <div class="absolute width80 height80 center">

        <div class="relative width height10 font-50">

            <div class="absolute center">{{settings.title}}</div>

        </div>

        <div class="relative width height80">

                <div class="relative width height50">

                    <div class="absolute width30 height left0">
                        <div class="absolute center font-70">
                            <div class="fa fa-arrows-h"></div>
                        </div>
                    </div>

                    <div class="absolute width70 height right0">

                        <div class="absolute width30 vcenter left0">
                            <label class="switch">
                                <input id="switch.x" ng-model="axesDir.x" ng-change="setDirection('i')" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="absolute width70 vcenter right0">

                            <div class="absolute center font-50">
                                {{switched.x}}
                            </div>

                        </div>
                    </div>


                </div>

                <div class="relative width height50">

                    <div class="absolute width30 height left0">
                        <div class="absolute center font-70">
                            <div class="fa fa-arrows-v"></div>
                        </div>
                    </div>

                    <div class="absolute width70 height right0">

                        <div class="absolute width30 vcenter left0">
                            <label class="switch">
                                <input id="switch.y" ng-model="axesDir.y" ng-change="setDirection('j')" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="absolute width70 vcenter right0">

                            <div class="absolute center font-50">
                                {{switched.y}}
                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>

</div>