

<div class="absolute fill font-50 white scrollY scroll-style-1" id="setting-objcolor" ng-controller="settings.obj-color.controller">

    <div class="relative width height20">

        <div class="absolute width height50">
            <div class="absolute center">{{settings.title}}</div>
        </div>

    </div>

    <!-- <div class="relative width-300 height-300 hcenter">

        <div class="absolute width-200 height-200 center border-white rounded50 pointer" on-tap="save()">

            <div class="absolute center font-70">
                <div class="fa fa-check"></div>
            </div>

        </div>

    </div> -->

    <div class="relative width50 height-200 hcenter font-50">
        <div class="absolute width45 vcenter left0">
            <div class="absolute width vcenter text-right">{{sliderValue}}</div>
        </div>
        <div class="absolute width45 vcenter right0">
            <div class="absolute width vcenter text-left">pixels</div>
        </div>
    </div>

    <div class="relative width90 height-400 hcenter">
        
        <slider orientation="horizontal" on-change="change" initial="initialValue"></slider>

    </div>

    <div class="absolute width80 top-800 hcenter">

        <div class="absolute width45 height-300" ng-repeat="marble in settings.marbles" ng-style="{top:($index - ($index%2-1))*150 + 'px'}" ng-class-odd="'left0'" ng-class-even="'right0'">

            <div ng-if="$index == 0" class="absolute width-200 height-200 center pointer" ng-class="{'border-blue':marble.selected}" on-tap="selectObj(marble)">
                <div class="absolute width80 height80 center">
                    <div class="absolute width height center black-back border-white rounded50-perc"></div>
                </div>
            </div>

            <div ng-if="$index > 0" class="absolute width-200 height-200 center pointer" ng-class="{'border-blue':marble.selected}" on-tap="selectObj(marble)">
                <div class="absolute width80 height80 center">
                    <img class="absolute width height-auto center" ng-src="{{marble.src}}" />
                </div>
            </div>
        </div>

    </div>

</div>