

<div class="absolute fill z-100" ng-class="{hidden:hidemessage}" on-tap="togglemessage('hide')">
	
	<div class="absolute fill black-back opacity70"></div>
	<div class="absolute width60 height70 rounded50 white-back raised center pointer" id="{{'preview' + page.id}}">
		<div class="absolute width90 height90 center border white-back rounded40 cutoff">
			<div class="absolute width height scrollY scroll-vertical-dark-narrow">
				<div class="absolute width80 hcenter margin-v-50 font-30 line-height-50">
					

					just some tips on how to play Gravity<br><br>

					open and play....

					<ul>

						<li>

							the 
							<span class="color-2-2-back rounded10 border margin-h-10 raised white font-20" style="padding:10px 30px">
								demo
							</span> 
							game, first, as a tutorial
							<br><br>
						</li>

						<li>

							<span class="color-2-5-back rounded10 border margin-h-10 raised white font-20" style="padding:10px 20px">
								balance
							</span> 
							is a fun but challenging game
							<br><br>
						</li>

						<li>



							play  
							<span class="color-2-4-back rounded10 border margin-h-10 raised white font-20" style="padding:10px 20px">
								enemy
							</span> 
							at your own risk!
							<br><br>
						</li>

						<li>


							<span class="color6-back rounded10 border margin-h-10 raised white font-20" style="padding:10px 20px">
								space
							</span> 
							is under development and doesn't do anything right now, but will be a target shooter, come back to see updates! 
						
							<br><br>
						</li>

					</ul>

					tap anywhere to dismiss, and enjoy :)
				</div>
			</div>
		</div>
	</div>
	
</div>