

<div class="absolute width height scrollY touch" id="home">

	<div class="relative margin-v-20 width height-100">
		<div class="absolute width vcenter text-center font-70">{{info.name}}</div>
	</div>

	<div class="relative top-100 width height">

		<div class="relative width" ng-repeat="game in info.pages">
			<div class='relative width90 height-200 margin-v-70 center border pointer white {{game.menu}}' ng-attr-id="{{'option' + game.name}}" ng-attr-dir="options" repeat>
				<option option="game"></option>
			</div>
		</div>

	</div>

</div>