

<div class="absolute width height scrollY touch">

	<div class="absolute width" ng-attr-dir="home" ng-attr-id="home" home>
		<div class="relative margin-v-20 width height-100">
			<div class="absolute width vcenter text-center font-70">{{info.name}}</div>
		</div>

		<div class="relative top-100 width height">

			<div ng-repeat="game in info.pages">
				<div class='relative height-200 width90 hcenter margin-v-70 border pointer {{game.menu}}' ng-attr-id="{{'option' + game.name}}" ng-attr-dir="{{game.directive}}" on-press="onPress()" on-press-up="onPressup()">
					<option info="game"></option>
				</div>
			</div>

		</div>

	</div>

</div>