<div class="absolute fill" rotation>

	<div class="absolute corner width height scrollY touch" ng-attr-dir="home" ng-attr-id="home" home>

		<div class="absolute width">
			<div class="relative margin-v-20 width height-100">
				<div class="absolute width vcenter text-center font-70">{{info.title}}</div>
			</div>

			<settings-btn></settings-btn>

			<div class="relative top-200 width height">

				<div ng-repeat="page in info.pages">
					<option ng-click="onPressup()" ng-attr-dir="option" ng-attr-id="{{'option.' + page.id}}"></option>
				</div>

			</div>

		</div>

	</div>

</div>