
<div class="absolute fill" id="{{'arena' + info.name}}">

	<div class="absolute top-10 width text-center font-60">{{info.name}}</div>

	<toggle ng-class="{hidden:info.name == 'Calibrate'}"></toggle>
	<back ng-class="{hidden:info.name == 'Calibrate'}" ng-attr-id="{{'back.' + info.name}}" on-tap="onPressup()"></back>
	<object ng-class="{hidden:info.name == 'Calibrate'}" ng-attr-id="{{'object' + info.name}}"></object>
	<display ng-class="{hidden:info.name == 'Calibrate'}"></display>
	<calibrate ng-class="{hidden:info.name != 'Calibrate'}"></calibrate>

</div>