
<div class="absolute fill" id="{{'arena' + info.id}}">

	<div class="absolute top-10 width text-center font-60">{{info.title}}</div>

	<toggle ng-show="info.id != 'calibrate'"></toggle>
	<back ng-show="info.id != 'calibrate'" ng-attr-id="{{'back.' + info.id}}" on-tap="onPressup()"></back>
	<object ng-show="info.id != 'calibrate'" ng-attr-id="{{'object' + info.id}}"></object>
	<display ng-show="info.id != 'calibrate'"></display>
	<calibrate ng-show="info.id == 'calibrate'"></calibrate>

	<!-- <preview ng-show="info.id == 'enemies'"></preview> -->

</div>