
<div class="absolute width height black-back">

	<div class="absolute width height cutoff" id="body" body>

		<div class="absolute left0 top-minus100 nuplaeSize">

			<div ng-repeat="page in main.pages">
				<div class="absolute width25 height25 cutoff" ng-attr-id="{{'page' + page.id}}" ng-style="{top:'' + page.page.rect.top, left:'' + page.page.rect.left }" ng-attr-dir="pages" repeat>
					<div class="absolute width height center {{page.page.back}} border-white">
						<div class="absolute inset-mobile-1 center lowered-dark {{page.page.fore}} cutoff">
							<page ng-attr-page="{{page.id}}" view="{{page.page.view}}" info="page"></page>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
