
<div class="absolute fill" id="settings-content" ng-controller="SettingsController">
	
	<div class="absolute fill scroll">

		<div class="absolute" id="settings-container">

			<div class="absolute center white-back raised-dark border font-70" id="settings-body">
					
				<div class="absolute center border" id="settings-inner">

					<div class="relative inline font-50" id="setting-sessionfactor">
						
						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								<div class="relative width height10">
									
									<div class="relative width height50">
										<div class="absolute text-center center">sensitivity</div>
									</div>

									<div class="relative width height50">
										<div class="absolute width50 height left0">
											<div class="absolute width vcenter text-right" id="amount"></div>
										</div>
										<div class="absolute width50 height right0">
											<div class="absolute width vcenter">%</div>
										</div>
									</div>

								</div>
								
								<div class="relative width height90">
									<div class="absolute width-200 height80 center">
										<div class="absolute hcenter" id="slider-vertical"></div>
									</div>
								</div>

							</div>

						</div>

					</div>




					<div class="relative inline font-50" id="setting-axes">
						
						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								<div class="relative width height10 font-70">

									<div class="absolute center">switch axes</div>

								</div>

								<div class="relative width height40 border">
									
									<div class="relative width height30">

										<div class="absolute center">
											device axes
										</div>

									</div>

									<div class="relative width height70">

										<div class="relative width height50">

											<div class="absolute width10 height text-right">
												<div class="absolute width vcenter">
													x
												</div>
											</div>

											<div class="absolute width80 height right0 {{xswitched.color}} {{xswitched.text_color}}">
												<div class="absolute center">
													{{xswitched.text}}
												</div>
											</div>

										</div>

										<div class="relative width height50">


											<div class="absolute width10 height text-right">
												<div class="absolute width vcenter">
													y
												</div>
											</div>

											<div class="absolute width80 height right0 {{yswitched.color}} {{yswitched.text_color}}">
												<div class="absolute center">
													{{yswitched.text}}
												</div>
											</div>


										</div>

									</div>


								</div>

								<div class="relative width height50">

									<div class="relative width height50">

										<div class="absolute width10 height">
											<div class="absolute width vcenter text-right">
												x
											</div>
										</div>

										<div class="absolute width80 height80 vcenter right0">
											<div class="absolute height hcenter">
												<input type="checkbox" name="setting-x-axis" checked>
											</div>
										</div>

									</div>

									<div class="relative width height50">

										<div class="absolute width10 height">
											<div class="absolute width vcenter text-right">
												y
											</div>
										</div>

										<div class="absolute width80 height80 vcenter right0">
											<div class="absolute height hcenter">
												<input type="checkbox" name="setting-y-axis" checked>
											</div>
										</div>

									</div>

								</div>

							</div>

						</div>

					</div>



					<div class="relative inline" id="setting-3">

						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								settings 3

							</div>

						</div>

					</div>



					<div class="relative inline" id="setting-4">

						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								settings 4

							</div>

						</div>

					</div>



					<div class="relative inline" id="setting-5">

						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								settings 5

							</div>

						</div>

					</div>



					<div class="relative inline" id="setting-6">

						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								settings 6

							</div>

						</div>

					</div>



					<div class="relative inline" id="setting-7">

						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								settings 7

							</div>

						</div>

					</div>



					<div class="relative inline" id="setting-8">

						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								settings 8

							</div>

						</div>

					</div>



					<div class="relative inline" id="setting-9">

						<div class="absolute width80 height80 border rounded40 center">

							<div class="absolute width80 height80 center">

								settings 9

							</div>

						</div>

					</div>



				</div>

			</div>

		</div>
	</div>


	<back />

</div>