<div class="absolute fill z-20">

	<div class="absolute width height" id="{{'play' + page.id}}">
		
		<!-- <img class="absolute width height" src="img/play.png"/> -->
	
		<div class="absolute width height black-back opacity70"></div>

		<div class="absolute width-300 height-300 center black-back border-white raised-dark rounded50">
			<div class="absolute white center font-100">
				<i class="fa fa-play"></i>
			</div>
		</div>

		<!-- <div class="absolute width height" on-tap="play()"></div> -->

	</div>

	<div class="absolute width-200 height-200 bottom-20 right-20 black-back border-white rounded50 raised-dark hidden" id="{{'stop' + page.id}}">
		<!-- <img class="absolute width height" src="img/stop.png"/> -->

		<div class="absolute white center font-100">
			<i class="fa fa-stop"></i>
		</div>

	</div>

	<div class="absolute width height pointer" ng-click="toggle()"></div>

</div>